<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>NOTICE</title>
    <meta content="Violet Planet Platform" name="Description"/>
    <meta name="keyword" content=""/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Violet Planet Platform">
    <meta property="og:description" content="Violet Planet Platform">
    <meta property="og:url" content="">
    <meta property="og:image" content="" />
    
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="./css/bootstrap.css">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css?20210330" />

    <script src="/js/bootstrap.bundle.min.js"></script>

	<script src="/js/login.js" defer></script>
</head>
<body>

<div id="wrap" class="loginPage">
    <div class="loginWrap">
        <dl class="heading">
            <dt><a href="/">게시판 페이지</a></dt>
            <dd><span>쉽고 편하게 관리해 보세요</span></dd>
        </dl>
        <fieldset>
            <legend>login</legend>
            <form class="login-form" action="" method="post" onsubmit="return false;">
                <ul>
                    <li><input type="text" class="form-input user" id="id" name="id" data-act="inputLogin" placeholder="ID를 입력해 주세요"></li>
                    <li><input type="password" class="form-input password" id="password" name="password" data-act="inputLogin" placeholder="비밀번호를 입력해 주세요"></li>
                    <li><button type="submit" class="btn" data-act="clickLogin" >LOGIN</button></li>
                </ul>
            </form>
            <div class="linkGroup">
                <a href="#" class="link">아이디 찾기</a>
                <a href="#" class="link">비밀번호 재설정</a>
            </div>
        </fieldset>
    </div>
</div>

</body>
</html>




